{% extends "./_base.html" %}
{% load static %}
{% load mptt_tags %}

{% block title %}Корзина{% endblock %}

{% block hint %}
<div class="jumbotron">
    <div class="container">
        <h2 class="display-4">{{status_cart}}</h2>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container mt-3">

    <div class="row">
        <div class="col-lg-6 col-md-9 col-sm-12 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Товаров в корзине</span>
                <span class="badge badge-secondary badge-pill">{{total_cart}}</span>
            </h4>
            <ul class="list-group mb-3">
                {% for id,name,inf,quant in items_cart %}
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <a href="/good?id={{id}}">
                            <h6 class="my-0">{{name}}</h6>
                        </a>
                        <small class="text-muted">{{inf}}</small>
                    </div>
                    <span class="text-muted">{{quant}}</span>
                </li>
                {% endfor %}

            </ul>
            <div class="row">
                <span>
                    {% if request.user.is_authenticated %}
            <form class="col-md-2" method="post" action="/cart/?order=True">
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary">Заказать</button>
            </form>
                    {% else %}
<!--                    <p>Для оформления заказа необходимо авторизоваться.</p>-->
                    <a class="btn btn-secondary" href="{% url 'login' %}">Войти, чтобы заказать </a>
                    {% endif %}
                </span>
                <span>
            <form class="col-md-2" method="post" action="/cart/?clear=True">
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary">Очистить</button>
            </form></span>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block advice %}
{% endblock %}
