{% extends "./_base.html" %}

{% block title %}Пустой раздел{% endblock %}

{% block hint %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Добро пожаловать на сайт просто магазина</h1>
        <p>Лучшие мобилы и фуфайки только у нас!</p>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <!-- Example row of columns -->


    <div class="alert alert-dark" role="alert">
        В этом разделе пока ничего нет!
    </div>


</div> <!-- /container -->
{% endblock %}


</main>

<hr>
<footer class="container">
    <p>© Просто магазин 2018</p>
</footer>

<script src="./static/jquery-3.3.1.slim.min.js"></script>
<script src="./static/popper.min.js"></script>
<script src="./static/bootstrap.min.js"></script>

</body>
</html>