{% extends "./_base.html" %}
{% load mptt_tags %}

{% block title %}{{current_section}}{% endblock %}

{% block hint %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">{{current_section}}</h1>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <!-- Example row of columns -->
    {% if section_page %}
    <ul>
        {% recursetree section_page %}
        <li>
            <a class="dropdown-item" href="./{{ node.id }}">{{ node.name }}</a>
            <ul>
                {{ children }}
            </ul>
        </li>
        {% endrecursetree %}
    </ul>
    {% else %}
    <div class="alert alert-dark" role="alert">
        В этом разделе пока ничего нет!
    </div>
    {% endif %}

</div> <!-- /container -->
{% endblock %}


</main>

<hr>
<footer class="container">
    <p>© Просто магазин 2018</p>
</footer>

<script src="./static/jquery-3.3.1.slim.min.js"></script>
<script src="./static/popper.min.js"></script>
<script src="./static/bootstrap.min.js"></script>

</body>
</html>