{% extends "./_base.html" %}
{% load static %}
{% load mptt_tags %}
{% load my_filters %}

{% block title %}Товар {{good.name}}{% endblock %}

{% block hint %}
<div class="jumbotron">
    <div class="container">
        <h2 class="display-4">{{good.name}}</h2>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container mt-3">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-12">
            <h2>{{good.name}}</h2>

            <img src="{{good.photo.url}}" width="120">

            <p>{{good.inf}}</p>
            <form method="post" action="/cart/?id={{good.id}}">
                {% csrf_token %}
                <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
            </form>
        </div>
    </div>
    <hr>
    {% for review in reviews %}
    {{review.rating|get_stars}} <span>{{review.name}}</span>
    <p> {{review.text}}</p>
    {% empty %}
    <p>Для этого товара ещё никто не оставил отзыв :-( </p>
    {% endfor %}
    <hr>

    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12">
            {% if not review_left %}
            <h4>Оставьте отзыв:</h4>

            <form action="?feedback={{good.id}}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Ваше имя</label>
                    {{form.name}}
                </div>
                <div class="form-group">
                    <label for="text">Текст отзыва</label>
                    {{form.text}}
                </div>
                Ваша оценка:
                {% for radio in form.rating %}
                <div class="form-check">
                    {{ radio }}
                </div>
                {% endfor %}

                <button type="submit" class="btn btn-primary">Оставить отзыв</button>
            </form>
            {% else %}
            <p>Вы уже оставляли отзыв для этого товара</p>
            {% endif %}
        </div>
    </div>

</div> <!-- /container -->

{% endblock %}

{% block advice %}
{% endblock %}
