{% extends "./_base.html" %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block hint %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Добро пожаловать на сайт просто магазина</h1>
        <p>Лучшие мобилы и фуфайки только у нас</p>
    </div>
</div>
<hr>
{% endblock %}

{% block content %}
{% for article in article_list %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">{{article.caption}}</h1>
        <p>{{article.text}}</p>
    </div>
</div>
<div class="container">
    <div class="row">
        {% for good in article.articlerelation_set.all %}
        <div class="col-md-4">
            <h4>{{good.product.name}}</h4>
            <a href="/good?id={{good.product.id}}">
                <img src="{{good.product.photo.url}}" width="140">
            </a>
            <h5>Всего за {{good.product.price}} ₽</h5>
        </div>
        {% endfor %}
    </div>
</div>
<hr>
{% endfor %}

{% endblock %}

{% block advice %}
{% endblock %}